html{
  scroll-behavior: smooth;

}
body {
  font-family: 'Source Code Pro', monospace;
  color: #212529;
  font-weight: 600;
}

.hide {
  display: none;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.landing {
  height: 95vh;
  width: 100%;
  position: relative;
  /* color: white; */
  margin-bottom: 0;
  background-image: url("images/landing4 4.jpeg");
  background-size: cover;
  display: block;
}

.landing-overlay {
  height: 95vh;
  width: 100%;
  position: absolute;
  color: white;
  margin-bottom: 200px;
  opacity: 0.8;
  background-color: black;
  background-size: cover;
}

.function {
  color: #2964D9;
  color:#0D65D9;

  font-weight: 800;
}

.variable {
  color: #F2600C;
  color: #F25C05;
  display: inline-block;
  font-weight: 800;

}

.comments {
  color: #038C73;
  font-weight: 800;

}

.text
{
  color: #F2F2F2;
}

.landing-intro {
  text-align: center;
  margin: auto;
  position: relative;
  width: 40%;
  top: 40%;
  /* z-index: 3; */
}

.landing-intro .comments {
  font-size: 2rem;
}

.landing-intro h1 {
  display: inline-block;
  font-size: 3rem;
  font-style: italic;
  font-weight: 900;
}

.laptop {
  width: 80px;
  margin: 15px;
}

.laptop-hover {
  width: 100px;
  transform: scale(1.2);
  box-shadow: 0 40px 80px 0 rgba(100, 100, 100, 1);
}

.clicked
{
  box-shadow: 0 8px 20px 0 rgba(50, 50, 50, .9);

}

.box {
  width: 500px;
  height: 700px;
  box-shadow: inset 0 0 95px 150px #000;
  background: #eee;
  z-index: 10;
  bottom: 300px;
  left: 200px;
}

.skills-pop {
  width: 60%;
  height: 400px;
  background-color: white;
  background: linear-gradient(90deg, rgba(206,212,218,1) 0%, rgba(222,226,230,1) 50%, rgba(206,212,218,1) 100%);
  bottom: 60px;
  border-radius: 20px;
  position: relative;
  margin: -200px auto 200px auto;
  /* display: none; */
  color: black;
  box-shadow: inset 0 0 20px 20px #000;
  padding: 30px;
  display: none;
}

.skills-pop-header {
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
}

.skills-pop-header h3 {
  font-size: 2.5rem;
}

.skills-pop-content {
  margin: 5px auto;
font-size: 1.3rem;
text-align: justify;
}

/* .skills-pop-what
{
  margin: 10px;
} */
.skills-pop-how
{
  text-align: center;
}

.skills-pop-how-img
{
  display: block;
  margin: 10px auto;
  text-align: center;

}

.skills-image{
  width: 50px;
  display: inline-block;
  margin: 10px auto;
}

.skills-image:hover{
  transform: scale(1.2);
}

.page-link{
  border-radius: 40px;
}

/* /////// */
.body {
  width: 100%;
  float: right;
  background-image: url("images/bg7.jpg");
  background-size: cover;
  background-color: rgb(1, 24, 38, 1);
  /* opacity: 0.5; */
  background: linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(52,58,64,1) 50%, rgba(33,37,41,1) 100%);
  background: linear-gradient(90deg, rgba(18,20,22,1) 0%, rgba(50,56,61,1) 50%, rgba(18,20,22,1) 100%);

}

/* .body-overlay {
  width: 100%;
  height: 450%;
  float: right;
  position: absolute;
  opacity: 0.2;
  background-color: black;
  background-size: cover;
} */

.body .container {
  max-width: 3000px;
  width: 98%;

}

.section-body {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.container .container-content {
  padding: 0;
}

.body .container .col {
  padding: 0;
  padding-right: 0;
}

.row {
  /* padding: 0;
  margin: 0; */
}

.col-2 {
  padding: 0;
}

.col-10 {
  padding: 0;
}

.content {
  right: 10px;
  padding-top: 80px;
}

.extra {
  height: 2627px;
  position: absolute;
}

.side-navbar {
  height: 100vh;
  width: 180px;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #011627;
  background: linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(42,47,51,1) 50%, rgba(33,37,41,1) 100%);
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
  display: inline-block;
}

.logo {
  margin-top: 20px;
  margin: 20px auto;
  width: 70px;
}

.logo:hover {
  box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.9);
}

.section-navlist {
  height: 200px;
  margin-top: 80px;
  line-height: 2;
}

.navlist {
  line-height: 2;
  height: 60px;
  /* width: 120px; */
  padding: 10px;
  margin: 40px auto;
}

.navlist-img{
  width: 50px;
  display: block;
  margin: 0 auto;
}

.navlist-name{
  display: none;
  color: #F2F2F2;
  font-size: 1.4rem;
  margin: 5px auto 0 12px;
}

.navlist:hover{
  /* background-color: white; */

}

.navlist:hover .navlist-img{
  display: none;
}

.navlist:hover .navlist-name{
  display: block;
}

.navlist-name:hover{
  color: #ced4da;
}

.section-links {
  position: relative;
  margin: auto;
  bottom: -150px;
  width: 105px;
}

.link-images
{
  width: 30px;
  margin: 10px;
}

.link-images:hover
{
  transform: scale(1.2);
  box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.9);

  /* box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.5); */

}

.projects {
  height: auto;
  width: 100%;
  /* background-color: yellow; */
  position: relative;
  text-align: center;
  display: inline-block;
  padding: 0;
}

.section-header {
  width: 100%;
  padding: 50px;
}

.section-heading {
  font-size: 3.5rem;
  margin: 0;
}

.content .section-heading {
}

/* ---- grid ---- */
.grid {
  /* background: #000; */
  max-width: 1200px;
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  width: 15%;
  margin: 20px 8px;
}

.grid-item {
  height: 120px;
  float: right;
  background: #EEEEEE;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 15px;
}

.grid-item:hover {
  /* transform: scale(1.1); */
  box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.5);
}

.grid-item--width2 {
  width: 30%;
}

.grid-item--width3 {
  width: 45%;
}

.grid-item--width4 {
  width: 47%;
  margin-left: -10px;
}

.grid-item--width5 {
  width: 63%;
  margin-left: 15px;
}

.grid-item--height2 {
  height: auto;
}

.grid-item--height3 {
  height: auto;
}

.grid-item--height4 {
  height: auto;
}

.grid-item--height5 {
  height: auto;
}

.grid-item--height6 {
  height: auto;
}

.grid-item--height7 {
  height: auto;
}

.grid-item--height2 img {
  height: 40px;
}

.grid-item--height3 img {
  height: 100px;
}

.grid-item--height4 img {
  height: 240px;
}

.grid-item--height5 img {
  height: 300px;
}

.grid-item--height6 img {
  height: 400px;
}

.grid-item--height7 img {
  height: 580px;
}

/* .grid-item:hover{
  transform: scale(1.2);
} */
.grid-item:hover .project img {
  transform: scale(1.3);
}

.project {
  width: 100%;
}

.project-pic {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.project img {
  position: relative;
  width: 100%;
  /* height: 40%; */
  margin-top: 0;
  object-fit: fill;
  overflow: hidden;
  border-radius: 0;
}

.project-header {
  margin: 10px;
}

.project-description {
  margin: 10px 30px;
  text-align: left;
  font-size: 0.8rem;
  padding: 10px;
}

.project-description h6 {
  display: inline-block;
  font-size: 0.9rem;
  left: 50px;
  line-height: 0.5;
}

.project-description .variable {
  color: orange;
  font-size: 0.8rem;
  /* float: left; */
}

.project-pop {
  width: 83%;
  height: 90%;
  top: 45%;
  left: 50%;
  margin-left: -40%;
  margin-top: -19.5%;
  position: fixed;
  display: none;
  background: linear-gradient(90deg, rgba(206,212,218,1) 0%, rgba(222,226,230,0.95) 50%, rgba(206,212,218,1) 100%);
  background: linear-gradient(90deg, rgba(181,184,186,.95) 0%, rgba(239,240,242,.95) 50%, rgba(181,184,186,1) 100%);

  text-align: center;
  filter: blur(0);
  z-index: 2;
  padding: 0;
  box-shadow: 0 0 45px 200px rgba(100, 100, 100, 0.8);
  border-radius: 10px;
}

.project-pop-header {
  font-size: 2.5rem;
  margin: 40px;
}

.col-pop-pics img {
  width: 90%;
  height: 90%;
  margin: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 0 4px 2px rgba(100, 100, 100, 0.7);
}

.col-pop-description {
  text-align: left;
  padding: 0;
  padding-right: 20px;
}

.pop-project-name {
  margin: 0 auto 10px auto;
  padding: 0;
  text-align: center;
}

.blur :not(.project-pop) {
  filter: blur(2px);
}

/* button styles */
.btn-2 {
  /* background: linear-gradient(to top, rgba(88,0,142,1), rgba(189,137,221,1) ); */
  background-color: rgba(88, 0, 142, 1);
  background: rgb(223, 223, 223);
  background: linear-gradient(90deg, rgba(223, 223, 223, 1) 0%, rgba(245, 245, 245, 1) 50%, rgba(223, 223, 223, 1) 100%);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  font-weight: 800;
  -webkit-box-shadow: 1px 1px 5px 0 #000000;
  -moz-box-shadow: 1px 1px 5px 0 #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 5px 15px 0 15px;
  display: block;
  margin: 10px auto;
  width: auto;
  /* max-width: 150px; */
  /* min-width: 80px; */
}

/* button hover effect */
.btn-2:hover {
  /* border: solid #337FED 1px; */
  background: black;
  background-image: -webkit-linear-gradient(top, #393E40, #212529);
  background-image: -moz-linear-gradient(top, #393E40, #212529);
  background-image: -ms-linear-gradient(top, #393E40, #212529);
  background-image: -o-linear-gradient(top, #393E40, #212529);
  background-image: linear-gradient(to bottom, #393E40, #212529);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

/* button styles */
.btn-footer {
  background-image: -webkit-linear-gradient(top, #393E40, #212529);
  background-image: -moz-linear-gradient(top, #393E40, #212529);
  background-image: -ms-linear-gradient(top, #393E40, #212529);
  background-image: -o-linear-gradient(top, #393E40, #212529);
  background-image: linear-gradient(to bottom, #393E40, #212529);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 800;
  -webkit-box-shadow: 1px 1px 5px 0 #000000;
  -moz-box-shadow: 1px 1px 5px 0 #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 0 15px 0 15px;
  display: block;
  margin: 10px auto;
  margin-top: 60px;
  width: auto;
  max-width: 250px;
  position: relative;
  /* min-width: 80px; */
}

/* button hover effect */
.btn-footer:hover {
  /* border: solid #337FED 1px; */
  background: black;
  background-color: rgba(88, 0, 142, 1);
  background: rgb(223, 223, 223);
  background: linear-gradient(90deg, rgba(223, 223, 223, 1) 0%, rgba(245, 245, 245, 1) 50%, rgba(223, 223, 223, 1) 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: BLACK;
}

.project-pop-footer
{
  padding-bottom: 220px;
  /* margin: 20px; */
  margin-bottom: 140px;
}

.col-pop-footer
{
  padding: 0;
}

/*

///////////// */


.row .about-section-header
{
  height: auto;
  text-align: center;
  font-size: 1rem;
  margin: 80px 0;
  padding: 40px;
  color: white;
  position: relative;
  /* background-color: grey; */
}

.section-heading h3
{
  font-size: 3rem;
}


/* /////////////////// */

.panel
{
  background-color: white;
  height: auto;
  width: 100%;
}
.about .section-content
{
  text-align: center;
  font-size: 2rem;
}

/* pictures of about us */
.display
{
  height: 200px;
  display: inline-block;
  margin: 20px;
}

.display:hover
{
  /* transform: scale(1.1); */
  /* box-shadow: 1px 1px 5px 0 #000000; */

}

/* holder for icons */
.icons-holder
{
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 150px;
  justify-content: space-between;
  margin: auto;
}

/* styles of icon images */
.icons-holder img
{
  display: block;
  margin: 10px auto;
  height: 25px;
  position: relative;
  text-align: center;
}

/* effect on icons */
.icons-holder img:hover
{
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.8);
 -webkit-transform: scale(1.3);
 transform: scale(1.3);
}
#social:hover{
  transform: scale(1.5);
}

.about-section-content{
  font-size: 1.2rem;

}
.about-para{
  margin: 30px;
  text-align: justify;
}

.skills-para
{
  width: 300px;
  margin:30px auto;
  text-align: justify;
}

.skills-img{
  width: 50px;
}

.skills-para-content
{
  font-weight: bold;
  margin: 10px;
  font-size: 1.5rem;
}

.if
{
  text-align: center;
  width: 80%;
  margin: 20px auto;
  font-size: 1.5rem;
  font-weight: 900;
}

.if h6
{
  font-size: 1.5rem;
  font-weight: 900;
}

.if a
{
  /* color:black; */
}
